{{#if banners.bottom}}
    <div class="banners" data-banner-location="bottom">
        {{#each (limit banners.bottom_metadata 1)}}
            <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                <div data-event-type="promotion-click">
                    {{{this.content}}}
                </div>
            </div>
        {{/each}}
    </div>
{{/if}}
{{{region name="footer-top"}}} 
{{{region name="footer-top--global"}}} 
<footer class="footer" role="contentinfo">
    <h2 class="footer-title-sr-only">{{lang 'footer.title'}}</h2>
    <div class="footer-top">
        <div class="container">
            <section class="footer-info">
                <article class="footer-info-col footer-info-col--small" data-section-type="footer-links-1">
                    {{{region name="footer-links-1--global"}}}                    
                    {{#if theme_settings.social_icon_placement_bottom '==' 'bottom_left'}}
                        {{> components/common/social-links}}
                    {{/if}}
                </article>

                <article class="footer-info-col footer-info-col--small" data-section-type="footer-links-2">                    
                    {{{region name="footer-links-2--global"}}}
                </article>

                <article class="footer-info-col footer-info-col--small" data-section-type="footer-links-3">                    
                    {{{region name="footer-links-3--global"}}}
                </article>

                <article class="footer-info-col footer-info-col--small" data-section-type="footer-links-4">                    
                    {{{region name="footer-links-4--global"}}}
                </article>

                {{#and theme_settings.shop_by_brand_show_footer shop_by_brand.length}}
                    <article class="footer-info-col footer-info-col--small" data-section-type="footer-brands">
                        <h3 class="footer-info-heading">{{lang 'footer.brands'}}</h3>
                        <ul class="footer-info-list">
                            {{#each shop_by_brand}}
                                <li>
                                    <a href="{{url}}">{{name}}</a>
                                </li>
                            {{/each}}
                            <li><a href="{{urls.brands}}">{{lang 'common.view_all'}}</a></li>
                        </ul>
                    </article>
                {{/and}}

                <article class="footer-info-col" data-section-type="newsletterSubscription">                
                    {{#if settings.address}}
                        <h3 class="footer-info-heading">{{lang 'footer.info'}}</h3>
                        <address>{{nl2br settings.address}}</address>
                        {{#if settings.phone_number}}
                            <strong>{{lang 'footer.call_us' phone_number=settings.phone_number}}</strong>
                        {{/if}}
                    {{/if}}
                    {{#if settings.show_newsletter_box}}
                        {{> components/common/subscription-form}}
                    {{/if}}
                    {{#if theme_settings.social_icon_placement_bottom '==' 'bottom_right'}}
                        {{> components/common/social-links}}
                    {{/if}}
                    {{> components/common/payment-icons}}
                </article>
            </section>
        </div>
    </div>
    
    <div class="footer-bottom">
        <div class="container">
            {{#if theme_settings.show_powered_by}}
                <div class="footer-copyright">
                    <p class="powered-by">{{lang 'footer.powered_by'}} <a href="https://www.bigcommerce.com?utm_source=merchant&amp;utm_medium=poweredbyBC" rel="nofollow">BigCommerce</a></p>
                </div>
            {{/if}}
            {{#if theme_settings.show_copyright_footer}}
                <div class="footer-copyright">
                    <p class="powered-by">Copyright {{moment format="YYYY"}} &copy; {{settings.store_name}} </p>
                </div>
            {{/if}}
            <div class="footer-bottom-links">
                {{{region name="footer-bottom--global"}}}
            </div>
        </div>
    </div>
    {{{region name="ssl_site_seal--global"}}}
</footer>
