// Hero Carousel Styles Start
.heroCarousel-slide {
    .heroCarousel-image {
        object-fit: cover;
    }

    .heroCarousel-image-wrapper {
        max-height: 705px;
        height: 705px;

        @include breakpoint("medium") {
            max-height: 800px;
            height: 800px;
        }
    }
}

.heroCarousel {
    margin-bottom: 0;

    .heroCarousel-slide:before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: .5;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1;
    }

    &.slick-initialized {
        max-height: 705px;

        @include breakpoint("medium") {
            max-height: 800px;
        }
    }

    .heroCarousel-content {
        background-color: transparent !important;
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2;

        & .heroCarousel-title {
            font-size: 48px;
            font-family: Teko;
            font-style: normal;
            font-weight: 400;
            color: stencilColor("color-white");
            line-height: .9;
            margin-bottom: 20px;

            @include breakpoint("medium") {
                font-size: 64px;
            }
        }

        & .heroCarousel-description {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            color: stencilColor("color-whitesBase");
            line-height: 1.4;
            margin-bottom: 30px;
        }

        & .button--large {
            margin: 0;
            padding: 1.125rem 3.688rem;
            font-size: 13px;
        }
    }
}

// Hero Carousel Styles End